.context-menu-list {
    position: absolute;
    display: inline-block;
    min-width: 13em;
    max-width: 26em;
    padding: .25em 0;
    margin: .3em;
    width: 225px;
    // font-family: inherit;
    // font-size: inherit;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: .2em;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.context-menu-like {
    position: absolute;
    display: inline-block;
    min-width: 180px;
    max-width: 363px;
    padding: .25em 0;
    margin: .3em;
    // font-family: inherit;
    // font-size: inherit;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: .2em;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.context-menu-item:hover {
    // color:#fff;
    cursor:pointer;
    background-color: #cfcfcf;
}

.context-menu-item {
    position: relative;
    padding: .2em .3em;
    color: #2f2f2f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

.context-menu-item span {
    padding: .2em .2em;
    line-height: 2;
}

.context-menu-separator {
    padding: 0;
    margin: .35em 0;
    border-bottom: 1px solid #e6e6e6;
}

.context-menu-icon::before {
    // position: absolute;
    // top: 50%;
    // left: 0;
    // width: 2em;
    // font-family: "context-menu-icons";
    // font-size: 1em;
    // font-style: normal;
    // font-weight: normal;
    // line-height: 1;
    // color: #2980b9;
    // text-align: center;
    // // -webkit-transform: translateY(-50%);
    // // -ms-transform: translateY(-50%);
    // // -o-transform: translateY(-50%);
    // transform: translateY(-50%);
    // -webkit-font-smoothing: antialiased;
    // // -moz-osx-font-smoothing: grayscale;
}
