/* Variables */
$inverted-menu-bg: rgb(30, 46, 68);
$inverted-menu-height: 48px;
$main-menu-bg: rgb(206, 220, 226);
$main-menu-height: 0px; // it was 64px;
$nav-vertical-menu-bg: rgb(243, 243, 243);
$wt-paddleboard-panel-height: 50px;
$wt-main-row-height: 52px;
$bottom-separation: 2.5rem;
$footer-height: 94px;
$left-panel-padding: 38px;
$wt-paddleboard-panel-tall-height: 63px;

$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

@import './ember-burger-menu/variables';
@import './ember-burger-menu/animations/slide';
@import './ember-burger-menu/animations/menu-item/push';

@mixin main-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: .6rem 1.6rem;
}