
html, body {
  margin: 0px;
}

html {
  font-family: 'antoniolight', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0px;
  border-radius: 4px;
  color: #393939;
  font-size: 1.0em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ui.segment {
  color: #393939;
}

p, .description, .item {
  font-size: 1.0em;
}

.main.page {
  min-height:800px;
  padding: 60px 10px 10px 10px;
  margin: 0 10px 0 10px;
}

.main.screen.left {
  float:left;
  width: 330px;
}


.main.screen.right {
  overflow:hidden;
  background-color: #efefef;
}

.logo.backdrop {
  border-radius: 5px;
  background: #242424;
  padding: 7px;
}


.ui.vertical.menu .item {
  font-size: 1.1rem;
  margin: 3px 0 3px 0;
}

.current.page.item {
  color: white;
  font-size: 1.5rem;
  min-width:60%;
  border: none;
  margin: 0;
  padding: 0;
}

.current.page.item .text {
  margin:auto;
  width: 200px;
  text-align: center;
}
.ui.info.segment {
  position: relative;
/*  background-image: url("../images/metallic-button.jpg");  */
  background-color: #303f54;

  box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 5px 2px 0px;
  padding: 10px;
  color: whitesmoke;
  border-radius: 0.28571429rem;
  border: 3px solid rgb(165, 165, 165);
}

.ui.info.container.segment {
  position: relative;
  /*
  background-image: url("../images/metallic.jpeg");
  */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 5px 5px 5px;
  padding: 10px;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.fish.segment {
  position: relative;
  background-image: url("../images/whole_tale_banner_enhanced.png");
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 10px 5px 10px;
  padding: 15px;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.form .field > label {
  color: black;
}

.shape.three.d.controls {
  margin: 5px 0 5px 0;
}

.ui.action.input input[type="file"] {
  display: none;
}

.search.area {
  padding: 150px 0 0 0;
  width: 650px;
  margin: auto;
}

.skinny {
  padding:0;
  margin:0;
}

.white {
  color :whitesmoke;
}

/* Ace Editor */

/* Put your CSS here */

pre {
  height: 420px;
}

#editor {
  height: 560px;
}

.full.screen.style {
    width: 200% !important;
    height: 200% !important;
    margin: 0 0 0 0 !important;
    border-radius: 0;
}

.denim.flipped {
  color: #fff;
  -webkit-transition: width 0s ease-out;
  transition: width 0s ease-out;
  background: rgba(1,20,36,0.6);
  float: left;
  width: 20%;
}

.ui.breadcrumb {
  background-color: #efefef;
  padding: 10px 0 10px 8px;
  width :100%;
  margin-bottom: 10px;
}
