@import "./dropzone";
@import "./basic";
@import "./contextmenu";


html, body {
  margin: 0px;
}

body {
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.selectable:hover {
    cursor: pointer;
}

.ui.notifier {
    top: 0px;
    right: 0px;
    position: fixed;
    margin-top: 1em !important;
    margin-right: 1em;
}

.main.page {
  min-height:800px;
  padding: 0 0;
  margin: 0 0;
}

.page.border {
  padding: 5px 5px 5px 5px;
  margin: 0 10px 0 10px;
}



i.icon.dataone:after {
    background-size: 20px 20px;
    background-image: url(/icons/DataONE_icon.jpg);
    display: inline-block;
    content:"";
    width: 20px;
    height: 20px;
}

i.icon.globus:after {
    background-size: 24px 16px;
    background-image: url(/icons/Globus_icon.png);
    display: inline-block;
    content:"";
    width: 24px;
    height: 16px;
}

.globusblue {
    background-color:#3560A0 !important;
}

i.icon.criss.cross {
  background-size: 60px 60px;
  background-image: url(/icons/criss-cross.png);
  display: inline-block;
  content:"";
  width: 60px;
  height: 60px;
  margin:auto;
}

i.icon.small.criss.cross {
  background-size: 30px 30px;
  background-image: url(/icons/criss-cross.png);
  display: inline-block;
  content:"";
  width: 30px;
  height: 30px;
  margin:auto;
}


i.icon.clickable:before {
    font-size: 1em;
    color: grey;
}

i.icon.clickable:hover:before {
    font-size: 1.2em !important;
    font-weight: lighter;
    color: black;
}

i.icon.clickable:hover {
    cursor:pointer;
}

.hidden {
    display:none !important;
}

div.overlay {
    position:absolute !important;
}

div.upload.progress {
    width:50%;
    z-index:100;
    opacity:.9;
    padding:20px 20px;
    position:fixed;
    top:85vh;
    right:0;
  font-size: 120%;
}

.ui.inverted.blue.menu {
  border: 0px solid transparent;
  background: #283b49;
  box-shadow: none;
}

.ui.blue.button {
  box-shadow: 5px 5em 5px 5px rgba(0, 139, 221, 0.15) inset;
}
.ui.blue.buttons .button, .ui.blue.button {
  background-color: #0075d8;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}


.ui.blue.buttons .button:hover,
.ui.blue.button:hover {
  background-color: #0062bb;
  color: #FFFFFF;
  text-shadow: none;
}
.ui.blue.buttons .button:focus,
.ui.blue.button:focus {
  background-color: #0062bb;
  color: #FFFFFF;
  text-shadow: none;
}
.ui.blue.buttons .button:active,
.ui.blue.button:active {
  background-color: #0062bb;
  color: #FFFFFF;
  text-shadow: none;
}
.ui.blue.buttons .active.button,
.ui.blue.buttons .active.button:active,
.ui.blue.active.button,
.ui.blue.button .active.button:active {
  background-color: #0062bb;
  color: #FFFFFF;
  text-shadow: none;
}
/* Basic */
.ui.basic.blue.buttons .button,
.ui.basic.blue.button {
  box-shadow: 0px 0px 0px 1px #0062bb inset !important;
  color: #0062bb !important;
}

/* Blue */
.ui.blue.segment:not(.inverted) {
  border-top: 2px solid #283b49;
}
.ui.inverted.blue.segment {
  background-color: #283b49 !important;
  color: #FFFFFF !important;
}

.ui.card {
  background: #FFFFFF;
  color : #283b49;
  padding: 0em;
  border: none;
  border-radius: 0.22222222rem;
  box-shadow: 0px 1px 3px 0px #283b49, 0px 0px 0px 1px #283b49;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.ui.white.labels .label, .ui.white.label {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #283b49 !important;
}

.ui.breadcrumb {
  color: #283b49;
  background-color: #efefef;
  padding: 8px 4px 8px 10px;
  width :100%;
  margin: 0 0 5px 0 !important;
}

.ui.breadcrumb:hover {
  color: #a5a5a5;
}

.ui.breadcrumb > a {
  color: #21a6f6;
}

.ui.breadcrumb .divider {
  display: inline-block;
  opacity: 0.7;
  margin: 0em 0.21428571rem 0em;
  font-size: 0.92857143em;
  color: #283649;
  vertical-align: baseline;
}

/* This removes all padding from any grid configuration */

.ui.grid {
  margin :0;
  padding: 0;
}

.ui.grid > * {
  margin: 0;
  padding: 0;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
  padding: 0;
  margin: 0;
}

.ui.grid > .column:not(.row) {
  margin: 0;
  padding: 0;
}

/* End grid configuration */



.white {
  color: #ffffff;
}

a {
  color: #283649;
  text-decoration: none;
}


p, .description, .item {
  font-size: 1.0em;
}

.main.screen.left {
  float:left;
  width: 330px;
}


.main.screen.right {
  overflow:hidden;
  background-color: #efefef;
}

.logo.backdrop {
  border-radius: 5px;
  background: #242424;
  padding: 7px;
}


.ui.vertical.thin.menu .item {
  font-size: 1.1rem;
  margin: 3px 0 3px 0;
}

.ui.vertical.compact.menu .item {
  font-size: 1.1rem;
  margin: 3px 0 3px 0;
}

.current.page.item {
  color: white;
  font-size: 1.5rem;
  min-width:60%;
  border: none;
  margin: 0;
  padding: 0;
}

.current.page.item .text {
  margin:auto;
  width: 200px;
  text-align: center;
}
.ui.info.segment {
  position: relative;
/*  background-image: url("../images/metallic-button.jpg");  */
  background-color: #303f54;

  box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 5px 2px 0px;
  padding: 10px;
  color: whitesmoke;
  border-radius: 0.28571429rem;
  border: 3px solid rgb(165, 165, 165);
}

.ui.info.container.segment {
  position: relative;
  /*
  background-image: url("../images/metallic.jpeg");
  */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 5px 5px 5px;
  padding: 10px;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.fish.segment {
  position: relative;
  background-image: url("../images/whole_tale_banner_enhanced.png");
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 5px 10px 5px 10px;
  padding: 15px;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.form .field > label {
  color: black;
}

.shape.three.d.controls {
  margin: 5px 0 5px 0;
}

.ui.action.input input[type="file"] {
  display: none;
}

.search.area {
  padding: 150px 0 0 0;
  width: 650px;
  margin: auto;
}

.login.area {
  background-image: url("../images/login-backdrop.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  padding: 100px 0 100px 0;
  margin: auto;
  text-align: center;
  color: white;
}

.login.icon.backdrop {
  margin: 0 20% 0 20%;
  background-color: #dcd9de;
  color: black;
}

.skinny {
  padding:0;
  margin:0;
}

.white {
  color :whitesmoke;
}

/* Ace Editor */

/* Put your CSS here */

pre {
    padding: 10px 20px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 16px;
}

#editor {
  height: 560px;
}

.full.screen.style {
    width: 200% !important;
    height: 200% !important;
    margin: 0 0 0 0 !important;
    border-radius: 0;
}

// blockquote {
//   display: block;
//   padding-left: 20px;
//   border-left: 6px solid #283b49;
//   margin-left: -15px;
//   font-style: italic;
//   color: #555;
//   -webkit-margin-before: 1em;
//   -webkit-margin-after: 1em;
//   -webkit-margin-start: 40px;
//   -webkit-margin-end: 40px;
// }

.ui.tool.segment {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
}

.ui.inverted.grey.segment {
  background-color: #f3f3f3 !important;
  color: #FFFFFF !important;
}

.truncate {
  color: #515151;
  white-space: nowrap;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}
