@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);
p.fabcredits {
  text-align: center;
  margin-top: 100px;
}

.fabcredits img {
  border-radius: 50%;
  width: 100px;
}

.fabcontainer {
  position: absolute;
  right: 0px;
  top: 3px;
  width: 0px;
  height: 0px;
}

.fabbuttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15); // border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  right: 0px; // top: 3px;
  position: absolute;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.fabbuttons:active,
.fabbuttons:focus,
.fabbuttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  outline: 0;
}

.fabbuttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 1;
  -webkit-transform: translateX(-550px);
  -ms-transform: translateX(-550px);
  transform: translateX(-550px);
}

.fabcontainer:hover {
  height: 75px;
  width: 75px;
  i {
    outline: 0;
  }
}

.fabcontainer:hover .fabbuttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at different speeds */

.fabbuttons:nth-last-child(1) {
  box-shadow: none !important;
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms; // background-image: url('https://cbwconline.com/IMG/Share.svg');
  background-size: contain;
}

.fabbuttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 20ms;
  margin: 27px 5px !important; // background-image: url('https://cbwconline.com/IMG/Facebook-Flat.png');
  background-size: contain;
}

.fabbuttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
  transition-delay: 40ms;
  margin: 27px 56px !important; // background-image: url('https://cbwconline.com/IMG/Twitter-Flat.png');
  background-size: contain;
}

.fabbuttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms; // background-image: url('https://cbwconline.com/IMG/Google%20Plus.svg');
  background-size: contain;
}

/* Show tooltip content on hover */

.fabbuttons[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858 !important;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

.fabbuttons[tooltip]:hover:before,
.fabbuttons[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

// .fabbuttons > .fas {
//   position: relative;
//   margin:auto !important;
//   margin-top:.3em !important;
// }
