/* Override Semantic craziness */
.ui.legacy.modal,
.ui.legacy.page.dimmer > .ui.modal {
  top: 20px !important;
  left: 0 !important;
}

.ui.modal {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto !important;

  .newfolder,
  .delete-modal,
  .ui.dataone.modal,
  .warning-modal,
  .ui.compose-error.modal {
    height: 200px;
    top:    0;
    left:   0;
    bottom: 0;
  
    .header {
      .close.icon {
        position: absolute;
        right: 1rem;
        cursor: pointer;
      }
    }

    .image.content {
      height: auto;
      color: black;
    }
  }
}

.ui.compose-error.modal .description {
  width: 100%;
}

.destinate-folder {
  left: 0 !important;
  margin: auto !important;
  height: fit-content !important;
  width: fit-content !important;
}

.ui.modal.envdetails {
  height: 60%;
  width: 70%;

  .content {
    height: calc(100% - 64px - 60px);
    overflow-y: auto;
  }
}

.selectdata {
  width: 95% !important;
  position: fixed !important;

  .ui.dimmer {
    background-color: #cedce2 !important;
  }

  .scrolling.undetached.dimmable .ui.modal.acl-component.scrolling,
  .scrolling.undetached.dimmable .ui.modal.harvester.scrolling {
    min-height: 50vh;
    height: auto;
    max-height: 70%;
    min-width: 50vw;
    position: fixed;
    left: 0 !important;
    margin: 0 auto;
  
    .content {
      height: calc(100% - 64px - 60px);
      overflow-y: auto;
    }
  }
  
  /* Publishing Modal */

  .publish-hr {
    margin-left: 0;
    margin-right: 0;
  }

  .ember-modal-dialog {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    min-height: 80%;
    bottom: 100%;
    width: 60%;
    margin-bottom: 1em;
  }

  .small.publisher {
    position: absolute;
    width: 95%;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    overflow: auto;
    flex: 1;
  }

  // Bottom button row
  .publisher.actions {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-top: auto;
  }

  .repository.ui.selection.dropdown {
    margin-right: auto;
  }

  .publisher .header {
    position: relative;
      letter-spacing: .02rem;
      -webkit-border-top-left-radius: 1rem;
      -moz-border-top-left-radius: 1rem;
      border-top-left-radius: 1rem;
      -webkit-border-top-right-radius: 1rem;
      -moz-border-top-right-radius: 1rem;
      border-top-right-radius: 1rem;
      height: 100%;
  }
  .publisher .main.header img {
    position: relative;
      height: 2.25rem;
      margin: 0 .75rem 0 0;
      float:left;
  }
  .publisher .main.header span {
    position: relative;
      font-size: 1.2rem;
      color: rgba(0,0,0,0.4);
      font-weight: 300;
      font-style: italic;
      letter-spacing: .05rem;
      padding-left: .4rem;
  }
  
  .publisher .title {
    position: relative;
      color: rgb(74, 74, 74);
      letter-spacing: .02rem;
      -webkit-border-top-left-radius: 1rem;
      -moz-border-top-left-radius: 1rem;
      border-top-left-radius: 1rem;
      -webkit-border-top-right-radius: 1rem;
      -moz-border-top-right-radius: 1rem;
      border-top-right-radius: 1rem;
  }
  .publisher .title img {
      height: 2.25rem;
      margin: 0 .75rem 0 0;
      float:left;
  }
  
  .publisher .title span {
      font-size: 1.2rem;
      color: rgb(107, 104, 104);
      font-weight: 300;
      font-style: italic;
      letter-spacing: .05rem;
      padding-left: .4rem;
      display: block;
    }
  table {
    margin-top: 0 !important;
  }

  td.buttons.row,
  .ui.segment,
  .content {
    padding: 0;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  .publisher .info.circle.blue.icon.main {
      float: right;
  }
    
  .ui.segment > button,
  .ui.segment > button:active,
  .ui.segment > button:hover,
  .ui.segment > button:focus,
  .buttons.row > button,
  .buttons.row > button:active,
  .buttons.row > button:hover,
  .buttons.row > button:focus {
    padding: 0.78571429em 0.8em 0.78571429em;
    box-shadow: 0px 0px 0px 1px #2185d0 inset;
    -webkit-box-shadow: 0px 0px 0px 1px #2185d0 inset;
    color: #2185d0 !important;
    position: fixed !important;
    top: 1.7rem;
  }

  .ui.basic.striped.table tbody tr:nth-child(2n).selected-row,
  tr.selected-row {
    background-color: #2185d0 !important;
    color: white;
  }

  td.ui.sub.header {
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .ui.segment {
    border: 0;
    border-radius: 0;
    height: 100%;
    height: fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
  }

  .ui.black.deny.button {
    background-color: #e8f3fa;
    color: rgba(0, 0, 0, 0.6);
  }

  .ui.positive.button {
    background-color: #2185d0;
  }
}

.scrolling.undetached.dimmable .ui.modal.acl-component.scrolling,
.scrolling.undetached.dimmable .ui.modal.harvester.scrolling,
.selectdata {
  min-height: 50vh;
  height: auto;
  max-height: 70%;
  min-width: 50vw;
  position: fixed;
  left: 0 !important;
  margin: 0 auto;

  .content {
    height: calc(100% - 64px - 60px);
    overflow-y: auto;
  }
}
.workspacedata {
    height: 600px;
    width: 850px !important;
    position: fixed !important;
    left: 0 !important;

    width: 88% !important;

    .ui.dimmer {
        background-color: #cedce2 !important;
    }

    table {
        margin-top: 0 !important;
    }

    td.buttons.row,
    .ui.segment,
    .content {
        padding: 0;
    }

    .ui.segment > button,
    .ui.segment > button:active,
    .ui.segment > button:hover,
    .ui.segment > button:focus,
    .buttons.row > button,
    .buttons.row > button:active,
    .buttons.row > button:hover,
    .buttons.row > button:focus {
        padding: 0.78571429em 0.8em 0.78571429em;
        box-shadow: 0px 0px 0px 1px #2185d0 inset;
        -webkit-box-shadow: 0px 0px 0px 1px #2185d0 inset;
        color: #2185d0 !important;
        position: fixed !important;
        top: 1.7rem;
    }

    .ui.basic.striped.table tbody tr:nth-child(2n).selected-row,
    tr.selected-row {
        background-color: #2185d0 !important;
        color: white;
    }

    td.ui.sub.header {
        color: rgba(0, 0, 0, 0.6) !important;

        &.blue:hover {
            color: #2185d0 !important;
            text-decoration: underline;
        }
    }

    .ui.modal > .header + .content {
        padding: 0 !important;
    }
    .ui.segment {
        border: 0;
        border-radius: 0;
        height: 100%;
        // height: fill-available;
        // height: -moz-available;
        // height: -webkit-fill-available;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .ui.black.deny.button {
        background-color: #e8f3fa;
        color: rgba(0, 0, 0, 0.6);
    }

    .ui.positive.button {
        background-color: #2185d0;
    }
    &.ui.modal > .content {
        height: calc(100% - 64px - 60px);
        padding: 0;
        overflow-y: auto;

        .ui.grid {
            .four.column.wide {
                .ui.segment {
                    .ui.vertical.menu {
                        border-bottom: 0;
                        border-top: 0;
                        .item {
                            .icon-wrapper {
                                // font-size: 1.2rem;
                                line-height: 1.2rem;
                                font-weight: 400;
                                padding: 0.92857143em 1.14285714em 0 1.14285714em;
                            }
                        }
                    }
                }
            }
            .twelve.column.wide {
                padding-left: 1rem;
            }
        }
        .ui.table:not(.unstackable) th {
            padding: 0.7em;
            width: 100%;
        }
        .ui.table:not(.unstackable) tr {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-bottom: 0;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }
    }
}
@media only screen and (min-width: 992px) {
    .workspacedata {
        height: 600px;
        width: 850px !important;
        position: fixed;
        left: 0 !important;
    }
    .ui.modal:not(.destinate-folder) > .content {
        height: calc(100% - 64px - 60px);
        padding: 0;
        overflow-y: auto;
    }
}
@media only screen and (max-width: 767px) {
    .ui.modal > .content {
        height: calc(90vh - 64px - 60px);
        padding: 0 !important;
        overflow-y: auto;

        .ui.grid {
            .four.column.wide {
                .ui.segment {
                    .ui.vertical.menu {
                        border-bottom: 0;
                        border-top: 0;
                        .item {
                            .icon-wrapper {
                                // font-size: 1.2rem;
                                line-height: 1.2rem;
                                font-weight: 400;
                                padding: 0.92857143em 1.14285714em 0 1.14285714em;
                            }
                        }
                    }
                }
            }
            .twelve.column.wide {
                padding-left: 1rem;
            }
        }

        .ui.table:not(.unstackable) {
            thead > th {
                padding: 0.7em;
                width: 100%;
                display: table;
            }
            tr {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-bottom: 0;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                td {
                    font-weight: normal;
                }
            }
        }
    }
}

@media only screen and (max-height: 660px) {
    .workspacedata {
        height: 90vh;
        width: 88vw !important;
        position: fixed;
        left: 0 !important;
    }
    .ui.modal > .content {
        height: calc(90vh - 64px - 60px);
        padding: 0;
        overflow-y: auto;
    }
}

.ember-modal-dialog {
  width: 70%;
  height: 90%;
}

/* Publishing Modal */
.publisher .header {
  letter-spacing: 0.02rem;
  -webkit-border-top-left-radius: 1rem;
  -moz-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
  -moz-border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.publisher .main.header img {
  height: 2.25rem;
  margin: 0 0.75rem 0 0;
  float: left;
}
.publisher .main.header span {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05rem;
  padding-left: 0.4rem;
}

.publisher.main.header .info.circle.blue.icon {
  text-align: right;
}

.publisher .title {
  letter-spacing: 0.02rem;
  -webkit-border-top-left-radius: 1rem;
  -moz-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
  -moz-border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.publisher .title img {
  height: 2.25rem;
  margin: 0 0.75rem 0 0;
  float: left;
}

.publisher .title {
  color: rgb(74, 74, 74);
}
.publisher .title span {
  font-size: 1.2rem;
  color: rgb(107, 104, 104);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05rem;
  padding-left: 0.4rem;
  display: block;
}

.publisher .info.circle.blue.icon.main {
  float: right;
}

.publisher .ui.radio.checkbox {
  left: 3%;
  font-size: medium;
}

.publisher .environment.folder.icon {
  font-size: 25;
}

.publisher .environment.name.header {
  font-size: 15pt;
}

.publisher .main.header {
  margin-left: 10px;
}

.publisher .far.fa-hdd {
  margin-left: 10px;
}

.publisher .desktop.icon {
  margin-left: 10px;
}

.publisher .fab.fa-creative-commons {
  margin-left: 10px;
}

.publisher .ui.accordion .title .dropdown.icon {
  float: right;
  font-size: 2em;
}

.publisher .ui.accordion .content.files {
    height: 50%;
} 
  
.publisher .actions .button {
  float: right;
}

.ui.basic.segment.file-picker {
    height:20em;
    overflow-x: hidden;
}

.file-picker.table {
  border-collapse: collapse;
  border: none;
}

.file-picker.table entry-head {
  width: 0%;
}

 .table.file-picker td {
    padding: 0.3em;
    border: none;
 }

.table.file-picker tr td {
  border: none;
}

.table.file-picker td:nth-child(1) {
  width: 1rem;
}

.table.file-picker td:nth-child(2) {
  width: 1rem;
}

.publisher .progress-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .publisher .publish-progressbar {
    width:50%;
}

 .publisher .publishing-status-message {
  display: flex;
  justify-content: center;
} 

.publisher .fa-briefcase {
    margin-left:10px;
  }