.ui.modal {
  position: fixed;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
  margin: auto !important;
}

.newfolder {
  height: 200px;
}

.envdetails {
  height: calc(100vh - 64px - 60px - 2em);

  .content {
    height: calc(100% - 64px - 60px);
  }
}
