@import 'variables';

.tale-tab-files {
    height: calc(100vh - (2rem + #{$inverted-menu-height} + #{$footer-height} + 80px + #{$wt-main-row-height}));

    .main-row {
        padding: 0.5rem 1.6rem;
        .files-tab-description {
            .breadcrumbs-container {
                .breadcrumb {
                    .fa-plus-circle {
                        position: absolute;
                        right: 0;
                        bottom: 3px;
                    }
                }
            }
        }
    }

    .ui.grid:not(.files-tab-description) {
        // height: calc(100vh - (2rem + #{$inverted-menu-height} + #{$footer-height} + 80px + #{$wt-main-row-height}));

        .folder-navigator-container {
            height: auto; // calc(100vh - (2rem + 48px + 0px + #{$footer-height} + 80px + 50px + 51px));
            border-right: none;
            box-shadow: none;
            background: transparent;


            .folder-navigator {
                height: auto;
                .ui.grid {
                    height: auto;

                    .ui.vertical.mini.compact.menu {
                        a.item {
                            background: rgba(0, 0, 0, 0.05);
                        }
                        a.active.item {
                            background: #e8f3fa;
                            border-right: 3px solid #2185d0;
                            border-radius: 0; 
                        }
                    }
                }
            }
        }
    }

    .main-row + .ui.grid {
        height: calc(100vh - (2rem + #{$inverted-menu-height} + #{$footer-height} + 50px + 80px + #{$wt-main-row-height}));
    }

}