<div class="ui medium image" {{action 'index'}} ><img src='/images/whole_tale_logo_text_long_light.png'></div>


<h2>Whole Tale Approach</h2>

<div class="ui three cards">

    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black search icon"></i></span>
            <div class="ui large green header">Abstract Storage Layer</div>
            <div class="description">
                <p>Access Whole Tale accessible repositories via common storage interfaces with a unified namespace. </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black user icon"></i></span>
            <div class="ui large green header">Unified Authentication</div>
            <div class="description">
                <p>Support actions within the Whole Tale environment using a unified identity and
                    flexible authentication mechanisms.</p>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black eye open icon"></i></span>
            <div class="ui large green header">Flexible Frontends</div>
            <div class="description">
                <p>Develop and share analyses using an intuitive frontend model (e.g., Jupyter notebooks) and leveraging integrated Python and R APIs.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui three cards">

    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black book icon"></i></span>
            <div class="ui large green header">Living Publications</div>
            <div class="description">
                <p>Enable creation of living publications that integrate and link data, computations, and scholarly articles.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black mail icon"></i></span>
            <div class="ui large green header">Event Systems</div>
            <div class="description">
                <p>Automate processing via a dynamic Event System that monitors changes within the ecosystem (e.g. new data published).</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <span class="right floated ui circular green button"><i class="large black bar chart icon"></i></span>
            <div class="ui large green header">Data Dashboard</div>
            <div class="description">
                <p>Manage data and utilize services within the Whole Tale environment using an intuitive and powerful data dashboard. </p>
            </div>
        </div>
    </div>
</div>


<h2>Whole Tale Partners</h2>

<div class="ui cards">

    <div class="ui card">
        <div class="small image">
            <img src="/images/uiuc-200.png">
        </div>
        <div class="content">
            <a class="ui basic fluid blue button" href="http://illinois.edu/">Website</a>
        </div>
    </div>
    <div class="ui card">
        <div class="small image">
            <img src="/images/uc-200.png">
        </div>
        <div class="content">
            <a class="ui basic fluid blue button" href="http://www.uchicago.edu/">Website</a>
        </div>
    </div>
    <div class="ui card">
        <div class="small image">
            <img src="/images/ucsb-200.png">
        </div>
        <div class="content">
            <a class="ui basic fluid blue button" href="http://www.ucsb.edu/">Website</a>
        </div>
    </div>

    <div class="ui card">
        <div class="small image">
            <img src="/images/ut-200.png">
        </div>
        <div class="content">
            <a class="ui basic fluid blue button" href="http://www.utexas.edu/">Website</a>
        </div>
    </div>
    <div class="ui card">
        <div class="small image">
            <img src="/images/nd-200.png">
        </div>
        <div class="content">
            <a class="ui basic fluid blue button" href="https://www.nd.edu/">Website</a>
        </div>
    </div>
</div>