
<div class="ui huge header">
    Contact Us
</div>

<p>Please consider joining our mailing list or browsing our open source repository on-line on Github</p>

<div class="ui huge icon message">
    <i class="blue question icon"></i>
    <div class="content">
        <div class="header">
            Questions?
        </div>
        <p> Comments?  Want to get involved? </p>
        <div class="ui horizontal divider">Join Us </div>
          <a target="_blank" class="ui large blue button" href="https://groups.google.com/forum/#!forum/wholetale">
              <i class="ui mail icon"></i>Join our mailing list
          </a>
    </div>
</div>

<div class="ui huge icon message">
    <i class="blue github icon"></i>
    <div class="content">
        <div class="header">
            Follow Us
        </div>
        <p>The source code for WholeTale can be found on Github.</p>

        <div class="ui horizontal divider">Code with us!</div>

        <a target="_blank" href="https://github.com/whole-tale">
                WholeTale on Github
            </a>

    </div>
</div>
