
<div class="wt-panel {{color}}">
    <div class="wt-panel-header">
        <h2><i class="far fa-play-circle"></i> {{title}} <span>{{hint}}</span><i class="fas fa-expand right"></i></h2>
    </div>
    <div class="wt-panel-body">
      {{view}}
    </div>
</div>
