

<div class="ui form">
    <div class="two fields">
        <div class="ui fourteen wide field">
            <label>Recipe Name</label>
          {{input readonly=true value=name type="text" placeholder="Recipe Not Chosen"}}
        </div>
        <div class="ui two wide field">
                <label>Public</label>
              {{ui-checkbox readonly=true class="toggle"  label="" checked=public_checked onChange=(action (mut public_checked))}}
        </div>
    </div>
    <div class="field">
          <label>Description</label>
      {{textarea readonly=true value=description cols="80" rows="6"}}
      </div>
      <div class="field">
              <label>Tags Placeholder</label>
            {{textarea readonly=true value=tags cols="80" rows="6"}}
      </div>
</div>

{{#if creating}}
    <div class="ui segment" style="height:100px">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Saving Recipe...</div>
        </div>
    </div>
{{/if}}

{{#if created}}
    <div class="ui green icon message">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="header">
                The Recipe has been saved, you will be redirected to its view shortly !
            </div>
        </div>
    </div>
{{/if}}

{{#if not_created}}
    <div class="ui red icon message">
        <i class="remove circle icon"></i>
        <div class="content">
            <div class="header">
                The Recipe could not be saved !
            </div>
        </div>
    </div>
{{/if}}
