

<div class="ui form">
    <div class="two fields">
        <div class="field">
            <div class="field">
                <label>Research Title</label>
                <input type="text" placeholder="First Name">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea rows="3"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <div class="ui header">Authors</div>
            </div>
            <div class="two fields">
              <div class="field">
                  <label>First Name</label>
                  <input type="text" placeholder="First Name">
              </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" placeholder="First Name">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="field">
                    <label>More ...</label>
                    <div class="ui red button" {{action 'authoradd'}}>
                        <i class="plus icon"></i>
                        Add Author
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


