

<div class="ui form">
    <div class="two fields">
        <div class="field">
            <div class="field">
                <label>Name</label>
                {{input value=name type="text" placeholder="Tale Name"}}
            </div>
            <div class="field">
                <label>Description</label>
              {{textarea value=description cols="80" rows="6"}}
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label>Public</label>
              {{ui-checkbox class="toggle" label="Public" checked=public_checked onChange=(action 'checked')}}
            </div>
            <div class="field">
                <label>Configuration Information</label>
              {{textarea value=configuration cols="80" rows="6"}}
            </div>
        </div>
    </div>
</div>


