<!-- app/pods/components/file-manager/template.hbs -->
<!-- File tree here -->
<!-- <div style="height:300px; overflow-y:scroll;"> -->
    {{file-tree tree_node=model onSelectFile=(action 'onSelectFile')}}
<!-- </div> -->

{{outlet}}
