<i id="add-notify"  class="hidden"  {{action 'toggleNotification' on='click'}}></i>
<div class="ui notifier">
  {{#each notifications as |notification|}}
  <div class="ui message transition {{notification.guid}}">
    <i class="close icon"></i>
    <div class="header">
        {{notification.header}}
    </div>
    <p>{{notification.message}}</p>
  </div>
  {{/each}}
</div>
