<div class="ui notifier message transition hidden">
  <i id="event-notifier" class="close icon" {{action 'toggleNotification' on='click'}}></i>
  <div class="header">
      {{notificationHeader}}
  </div>
  <p>{{notificationMessage}}</p>
</div>
