{{!
  @module wholetale
  @submodule info-box
~}}

<div class="ui info segment">
    <div class="ui center aligned header" style="margin:0 0 5px 0; padding:0;color: whitesmoke">
      {{title}}
    </div>

    <div style="text-align: center; color:#FFFFFF; font-size:1.5em; font-weight:bold;">
            <i class="large {{color}} {{icon}} icon"></i>
            {{value}}
    </div>
</div>