<div class="wt panel">
    <div class="wt paddleboard">
        <h2><img src="images/wholetale_logo_sm.png" />Current Tale <i class="fas fa-expand right"></i></h2>
    </div>
    <div class="placeholder message">
        <p>Browse<br/>Tales !!!</p>
    </div>
</div>