<div class="publishing-tree">
    {{ember-jstree
        actionReceiver=jstreeActionReceiver
        selectedNodes=selectedNodes
        data=parent
        plugins=plugins
        themes=themes
        checkboxOptions=checkboxOptions
        contextmenuOptions=contextmenuOptions
        stateOptions=stateOptions
        typesOptions=typesOptions
        searchOptions=searchOptions
        searchTerm=searchTerm
    }}
</div>