<div class="ui centered grid">
  <div class="ui inverted basic blue segment row">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div style="text-align: center">
        <p style="font-size: 140%">&copy; WholeTale (Build: {commit})</p>
        <p style="font-size: 100%">
          This material is based upon work supported by the National Science Foundation under
          Grant No. OAC-1541450.
        </p>
      </div>
    </div>
    <div class="right floated right aligned middle aligned three wide column">
      <button class="ui icon button" data-tooltip="Create an issue on Github" data-position="top right">
        <i class="github icon"></i>
        <a target="_blank" href="https://github.com/whole-tale/whole-tale/issues">Report a problem</a>
      </button>
    </div>
  </div>
</div>

