<div class="ui inverted basic blue segment" style="margin:0;">
    <div style="text-align: center">
        <p style="font-size: 140%">&copy; WholeTale (Build: {commit})</p>
        <p style="font-size: 100%">
          This material is based upon work supported by the National Science Foundation under
          Grant No. OAC-1541450.
        </p>
    </div>
</div>
