<div class="ui inverted basic segment" style="margin:0;">
    <div class="ui large inverted message">
        <p style="text-align: center"> The WholeTale Project is sponsored by The National Science Foundation</p>
    </div>
</div>