<div class="ui inverted menu wt top">
    <div class="header item wt brand"><img src="/images/wholetale_logo_sm.png" />Whole<span>Tale</span></div>
    <div class="active item">Dashboard</div>
    <a class="item">About</a>
    <a class="item">Team</a>
    <a class="item" {{action "boringUI" }}>Old UI</a>
    <div class="right menu">
        <a class="item">Log Out</a>
    </div>
</div>

