<div class="ui left vertical inverted compact blue menu" style="height: 100%">

  {{#if loggedIn}}
      {{#link-to 'index' class="item" invokeAction=(action 'closeMenu' 'Dashboard' 'home')}}
          <i class="home icon"></i>
          Home
      {{/link-to}}

      {{#link-to 'explore' class="item" invokeAction=(action 'closeMenu' 'Explore' 'play')}}
          <i class="video play icon"></i>
          Explore
      {{/link-to}}

<!--
      {{#link-to 'search' class="item" invokeAction=(action 'closeMenu' 'Search' 'search')}}
          <i class="search icon"></i>
          Search
      {{/link-to}}
-->

      {{#link-to 'compose' class="item" invokeAction=(action 'closeMenu' 'Compose' 'add circle')}}
          <i class="add circle icon"></i>
          Compose
      {{/link-to}}

      {{#link-to 'upload' class="item" invokeAction=(action 'closeMenu' 'Data' 'upload')}}
          <i class="upload icon"></i>
          Data
      {{/link-to}}

<!--
      {{#link-to 'status' class="item" invokeAction=(action 'closeMenu' 'Status' 'line chart')}}
          <i class="line chart icon"></i>
          Status
      {{/link-to}}
-->

<!--
      {{#link-to 'collaborators' class="item" invokeAction=(action 'closeMenu' 'Collaborators' 'users')}}
          <i class="users icon"></i>
          Collaborate
      {{/link-to}}
-->

      <a class="item" {{action 'dynamicMenu'}}>
          <i class="content icon"></i>
          Floating Menu
      </a>

      <a class="item" {{action 'closeMenu' 'logout'}}>
              <i class="sign out icon"></i>
              Logout
        </a>

      {{/if}}

      {{#unless loggedIn}}
        {{#link-to 'login' class="item" invokeAction=(action 'closeMenu' 'Please Login')}}
            <i class="sign in icon"></i>
            Login
        {{/link-to}}
      {{/unless}}

    <div class="item" style="min-height: 840px;"></div>
</div>