<div class="ui menu wt dash">
  <div class="header item wt brand">WHOLE<span>TALE</span> <span> Dashboard</span></div>

  {{#link-to 'browse' class="item" invokeAction=(action 'closeMenu' 'Browse' 'upload')}}
      Browse
  {{/link-to}}

  {{#if internalState.currentInstanceId }}
    {{#link-to 'run.view' internalState.currentInstanceId class="item" invokeAction=(action 'closeMenu' 'Run' 'play')}}
      Run
    {{/link-to}}
  {{else}}
    {{#link-to 'run' class="item" invokeAction=(action 'closeMenu' 'Run' 'play')}}
      Run
    {{/link-to}}
  {{/if}}

  {{#link-to 'manage' class="item" invokeAction=(action 'closeMenu' 'Manage' 'upload')}}
      Manage
  {{/link-to}}

  {{!-- {{#link-to 'compose' class="item" invokeAction=(action 'closeMenu' 'Compose' 'plus')}}
      Compose
  {{/link-to}} --}}

</div>
