{{#ui-modal name="contextmenu" class="small contextmenu" onApprove=(action 'moveFile') onDeny=(action 'cancel')}}
    <div class="header">Move File or Folder</div>
    <div class="content">
       <table>
         <tr>
           <th>Name</th><th></th>
         </tr>
         <tr>
           <td></td>
           <td></td>
         </tr>
       </table>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancel
        </div>
        <div class="ui positive register right labeled icon button">
            Move
            <i class="icon plus"></i>
        </div>
    </div>
{{/ui-modal}}
