{{!-- app/components/share-access-modal/template.hbs --}}
{{#ui-modal name="access-control" class="small acl-component" onApprove=(action 'submit') onDeny=(action 'cancel')}}
    <div class="header">Share Access with Groups or Users</div>
    <div class="content">
        <div class="ui basic segment">
            <form class="ui form">
            {{!-- REPLACE BELOW AFTER SEARCH WIDGET COMPLETED --}}
                <div class="inline field">
                    <label>
                        Share with another group or user
                    </label>
                    {{input type="text" id="searchbox" value=userOrGroup}}
                    <div class="ui inline button" {{action 'addUserOrGroup' userOrGroup on='click'}}>Add</div>
                </div>
            {{!-- REPLACE ABOVE AFTER SEARCH WIDGET COMPLETED --}}
            {{!-- REPLACE BELOW AFTER PERMISSIONS WIDGET COMPLETED --}}
                <div class="ui secondary segment" id="granted-list">
                    {{#each granted.users as |listed|}}
                        {{listed.name}}
                    {{/each}}
                    {{#each granted.groups as |listed|}}
                        {{listed.name}}
                    {{/each}}
                </div>
            {{!-- REPLACE ABOVE AFTER PERMISSIONS WIDGET COMPLETED --}}
                <div class="ui tertiary segment">
                    
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancel
        </div>
        <div class="ui positive register disabled right labeled icon button">
            Submit & Share
            <i class="icon register"></i>
        </div>
    </div>
{{/ui-modal}}
