<ul class="context-menu-list context-menu-root">
    {{#each menuItems as |menuItem|}}
        {{#if menuItem.separator}}
            <li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
        {{else}}
            <li class="context-menu-item" {{action "clicked" menuItem.name}}>
                <i class="large blue icon {{menuItem.icon}}"></i><span>{{menuItem.label}}</span>
            </li>
        {{/if}}
    {{/each}}
    <li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
    <li class="context-menu-item">
        <i class="large blue close icon"></i><span>Close</span>
    </li>
</ul>
