<ul {{action "close" on="click"}} class="context-menu-list context-menu-root" style="/* width: 208px; *//* top: 296px; *//* left: 92px; *//* z-index: 1; */">
    <li class="context-menu-item context-menu-icon context-menu-icon-edit">
        <span>Edit</span>
    </li>
    <li class="context-menu-item context-menu-icon context-menu-icon-cut context-menu-visible">
        <span>Cut</span>
    </li>
    <li class="context-menu-item context-menu-icon context-menu-icon-copy">
        <span>Copy</span>
    </li>
    <li class="context-menu-item context-menu-icon context-menu-icon-paste">
        <span>Paste</span>
    </li>
    <li class="context-menu-item context-menu-icon context-menu-icon-delete">
        <span>Delete</span>
    </li>
    <li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
    <li class="context-menu-item context-menu-icon context-menu-icon-quit">
        <span>Quit</span>
    </li>
</ul>
