<div class="ui search user-groups">
  <div class="ui icon input">
    <input class="user-search prompt" placeholder="Users..." type="text">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
