<!-- app/pods/components/loading-widget/template.hbs -->
<div class="ui active inverted dimmer">
    <div class="ui big text loader">
        Loading...
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
