<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2><img src="images/wholetale_logo_sm.png" />Current Tale <i class="fas fa-expand right"></i></h2>
    </div>

    <div class="ui segment rounded-bottom">
      {{ui/tale-browser models=model paginateOn=6 cardsPerRow="three" modelView="tale.view" showSearch=true showLink=true showDelete=true
                        addButtonName="Compose and publish a new tale."
                        addButtonTagName="Compose New Tale"
                        addButtonLogo=""
                        onAddNew=(action "gotoPublish")
      }}
    </div>


</div>