
<h2>Simple File uploader</h2>

<div class="field">
    <div class="ui action input">
        <input type="text" id="_attachmentName">
        <label for="attachmentName" class="ui icon button">
            <i class="cloud upload icon"></i>
          {{file-uploader url="/upload" id="attachmentName" name="attachmentName"}}
        </label>
    </div>
</div>