
<h2>Simple File Uploader Demo</h2>

<div class="field">
    <div class="ui action input">
        <input type="text" id="_attachmentName">
        <label for="attachmentName" class="ui icon button">
            <i class="cloud upload icon"></i>
          {{file-uploader url="/upload" id="attachmentName" name="attachmentName"}}
        </label>
    </div>
</div>

<div class="ui red message">Under Construction ...</div>

<div class="ui rounded medium image" style="margin : 10px;">
    <img src="/images/dataworkspaces/browsers.png">
</div>

