<h2 class="ui" style="color:black;">Data Manager</h2>

<table class="ui celled padded table">
    <thead>
        <tr>
            <th>Name</th>
        </tr></thead>
    <tbody>
        {{#each model as |folder|}}
        <tr class="center aligned">
            <td>
                {{folder.name}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="ui red message">Under Construction ...</div>
