<div class="ui medium image" {{action 'index'}} ><img src='/images/whole_tale_logo_text_long_light.png'></div>


<h2>Own Cloud</h2>

<div class="ui red message">Under Construction ...</div>

<div class="ui rounded medium image" style="margin : 10px;">
    <img src="/images/dataworkspaces/owncloud.jpg">
</div>
