{{!-- {{#if showInstances}}
    {{ui/tale-instances models=rightModelTop paginateOn=3 onLeftModelChange=(action "onLeftModelChange") }}
{{/if}} --}}
<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2><i class="far fa-play-circle"></i> Launched Tales  <span class="quota">3 of 10</span></h2>
    </div>
    <div class="ui vertical menu fluid tales">
        <a href="run-etur.html" class="item">
            <img src="/images/tale-img-1.png" />
            <img src="/images/frontends/rstudio.png" class="env" />
            <i class="fas fa-ellipsis-v"></i>
            <p>Example Tale using R</p>
        </a>
        <a class="item">
            <i class="fas fa-ellipsis-v"></i>
            <img src="/images/tale-img-2.png" />
            <img src="/images/frontends/logo-jupyter.png" class="env" />
            <p>LIGO Tutorial</p>
        </a>
        <a class="item">
            <i class="fas fa-ellipsis-v"></i>
            <img src="/images/tale-img-3.png" />
            <img src="/images/frontends/logo-jupyter.png" class="env" />
            <p>Example Tale with Jupyter with a really long name to test</p>
        </a>
    </div>
</div>
{{#if showMiniBrowser}}
    {{ui/files/mini-browser }}
{{/if}}
