<div class="ui stretched stackable grid">
  <div class="row panel container">
    <div class="{{if rightView 'eleven' 'sixteen'}} wide column">
      {{component leftView model=leftModel taleLaunched=(action "taleLaunched") openModal=(route-action 'showModal')}}
    </div>
    {{#if rightView}}
      <div class="five wide column">
        {{component rightView rightModelTop=rightModelTop rightModelBottom=rightModelBottom onLeftModelChange=(action "onLeftModelChange") selectedEnvironment=selectedEnvironment}}
      </div>
    {{/if}}
  </div>
</div>