<div class="ui stretched stackable grid">
  <div class="row panel container">
    <div class="eleven wide column">
      {{component leftView fileData=leftModel }}
    </div>
    <div class="five wide column">
      {{component rightView rightModelTop=rightModelTop rightModelBottom=rightModelBottom onLeftModelChange=(action "onLeftModelChange")}}
    </div>
  </div>
</div>