<div class="ui stretched stackable grid" style="margin-bottom: 10px">
    <div class="row panel container">

       <div class="eleven wide column">
              {{component leftView
                title=leftTitle
                view=leftView
                url=url
                hint=leftHint
                color=leftPanelColor
                model=leftModel
              }}
        </div>
        <div class="five wide column">
          {{component rightView
            title=rightTitle
            hint=rightHint
            color=rightPanelColor
            rightModelTop=rightModelTop
            rightModelBottom=rightModelBottom
            onLeftModelChange=(action "onLeftModelChange")
          }}
        </div>
    </div>
</div>