<div class="full screen style" style="color:black">
    <div class="ui grid">
        <div class="sixteen wide right aligned column">
            <i class="large close icon"></i>
        </div>
    </div>

  {{ember-ace lines=30 value=content update=(action 'valueUpdated')}}
</div>
