{{!
  @module wholetale
  @submodule info-box
~}}

<div class="ui segment" style="margin:1px; padding:0;">
    <div class="ui grid">
        <div class="five wide column">
            <button class="ui big {{color}} fluid icon button">
                <i class="big {{icon}} icon"></i>
            </button>

        </div>
        <div class="eleven wide column" style="text-align: left;">
            <div style="color:#777777; font-size:1.3em; padding:4px 4px 4px 4px;">{{title}}</div>

            <div style="color:#777777; font-size:1.4em; padding:2px 2px 4px 4px;  font-weight:bold;">{{value}}</div>

        </div>
    </div>
</div>