
<div class="ui pushable segment component context">
  {{partial "common/header"}}

  {{partial "common/menu"}}

    <div class="pusher">
        <div class="main page">
            <div class="ui basic page segment">
              {{outlet}}
             </div>
        </div>
    </div>

  {{partial "common/footer"}}

</div>





