<div class="ui pushable segment component context">
    {{partial "common/menu"}}
    <div class="wholetale view pusher">

      {{partial "common/header"}}


        <div class="main page">
          {{outlet}}
        </div>
    </div>
</div>

{{registration-modal}}
