
<div class="ui pushable segment component context">
  {{partial "common/header"}}

  {{partial "common/menu"}}

    <div class="pusher">
        <div class="main page">
              {{outlet}}
        </div>
    </div>

  {{partial "common/footer"}}

</div>





