
<div class="ui grid" style="padding-top: 20px">

    <div class="two wide column">

    </div>
    <div class="fourteen wide column">
        <div class="ui huge header">Research Environments</div>

        <p style="padding-bottom: 5px">Launch an existing research environment, or customize a new one to choose particular computational tools and data sets.  Any new research environments that
            you create will be listed here.  Return whenever you need to analyze and compute using these environments.
        </p>
    </div>

    <div class="center aligned two wide column">

        <br>
        <i class="huge dashboard icon"></i>
        <div class="ui large header">
            Analyze/<br>Compute
        </div>

    </div>
    <div class="fourteen wide column">
      {{wt-flix models=model.images paginateOn=6 cardsPerRow="six" modelView="image.view"}}
    </div>

</div>

<div class="ui grid" style="padding-top: 20px">

    <div class="two wide column">

    </div>
    <div class="fourteen wide column">
        <div class="ui huge header">Imported Data</div>

        <p style="padding-bottom: 5px">Register data with Whole Tale to be used in your Research Environments.  Data sets can be registered from data repositories like DataONE and Globus, and
            from other web locations. Once registered, each data set can be attached multiple research environments for analysis.
        </p>
    </div>

    <div class="center aligned two wide column">

        <br>
        <i class="huge disk outline icon"></i>
        <div class="ui large header">
            Register<br>Data
        </div>

    </div>
    <div class="fourteen wide column">
      {{wt-flix models=model.dataRegistered paginateOn=6 cardsPerRow="six" modelView="folder.view"}}
    </div>

</div>

<div class="ui grid" style="padding-top: 20px">

    <div class="two wide column">

    </div>
    <div class="fourteen wide column">
        <div class="ui huge header">Published Tales</div>

        <p style="padding-bottom: 5px">Publish results by describing the whole tale associated with your research, including research environment in which work was conducted, the source data
            used in analyses and models, and the resulting derived data and visualizations.
        </p>
    </div>

    <div class="center aligned two wide column">

        <br>
        <i class="criss cross icon"></i>
        <div class="ui large header">
            Published<br>Results
        </div>

    </div>
    <div class="fourteen wide column">
      {{wt-flix models=model.tales paginateOn=6 cardsPerRow="six" modelView="tale.view"}}
    </div>

</div>