<div class="login area" style="margin-top: -1rem">

    <div class="ui huge white header" style="color: white">Reproducibility Simplified</div>

    <br>

    <div class="ui header" style="color: white">Tell the Whole Tale about your research through powerful computing tools<br>
        like Jupyter and RStudio, or craft your own.</div>

    <br>
    <br>
    <br>
    {{#each-in model as |provider url|}}
        {{#if (eq provider authProvider)}}
            <a class="ui large blue button" {{action "login" url}}>
                <div style="font-weight: 700; font-size: 150%; margin: 10px 10px 0 0; float:left">Access</div>
                <img src="/images/whole_tale_logo_text_long_light_large.png" width="200px" style="width:200px">
            </a>
        {{/if}}
    {{/each-in}}
    <br>
    <br>
    <br>
    <br>

  <div class="login icon backdrop">
    <div class="ui grid">

        <div class="center aligned four wide column">

            <br>
            <i class="huge disk icon"></i>
            <div class="ui large header">
                Registered<br>Data
            </div>
            <br>
        </div>

        <div class="two wide column">
        </div>
        <div class="center aligned four wide column">

            <br>
            <i class="huge dashboard icon"></i>
            <div class="ui large header">
                Analyze/<br>Compute
            </div>
            <br>

        </div>
        <div class="two wide column">
        </div>
        <div class="center aligned four wide column">

            <br>
            <i class="criss cross icon"></i>
            <div class="ui large header">
                Published<br>Results
            </div>

            <br>
        </div>
    </div>
  </div>

    <br>
    <br>
    <div style="text-align: left; padding: 1rem">
        {{#ui-accordion as |execute|}}
            <div class="title">
                <i class="dropdown icon"></i>
                <a class="ui header" style="color: white">Login questions?</a>
            </div>
            <div class="content">
                <div class="ui raised segment">
                    <div class="ui header header">
                        In order to use the Whole Tale, you need to be able to sign in using Globus. Click below to find out more.
                    </div>
                    <a class="ui button" target="_blank" href="http://wholetale.readthedocs.io/users_guide/sign_in.html">Signing In</a>
                </div>
            </div>
        {{/ui-accordion}}
    </div>
</div>
