
<div class="ui three cards" style="margin: 20px 10% 20px 10%">
    <div class="card">
        <div class="content">
            <div class="header">Compute</div>
            <div class="description">
                Description...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Collaborate</div>
            <div class="description">
                Description...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Reproduce</div>
            <div class="description">
                Description...
            </div>
        </div>
    </div>
</div>

<div class="login area">
            <div class="ui huge header">LOGIN</div>

    <div class="ui raised segment">
        <div class="ui stackable grid">
            <div class="ten wide column">
                <br>
                <br>
                <br>
              {{#each-in model as |provider url|}}
                {{#if (eq provider "Globus")}}
                      <a class="ui large blue button" {{action "login" url}}>
                    Access WholeTale
                      </a>
                {{/if}}
              {{/each-in}}
                <br>
                <br>
            </div>
            <div class="six wide right aligned column">
                <div class="ui small image">
                    <img class="logo backdrop" src="/images/whole_tale_logo.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui horizontal divider"></div>

{{#ui-accordion as |execute|}}
    <div class="title">
        <i class="dropdown icon"></i>
        <a class="ui blue header">Login questions?</a>
    </div>
    <div class="content">
        <div class="ui raised segment">
            <div class="ui header header">
                In order to use the Wholetale app, you need to be able to sign in using Globus. Click below to find out more.
            </div>
        </div>
    </div>
{{/ui-accordion}}


