<div class="ui large header">Search <img class="logo" src="/images/demo.png"></div>


<div class="search area">
    <div class="ui huge header">Data Search</div>

    <div class="ui huge fluid icon input">
        <input id="search-string" type="text" placeholder="Find Data..." name="search">
        <i class="search icon"></i>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="ui huge fluid buttons">
    <div class="ui blue submit search button" {{action "search"}}>
        <i class="search icon"></i>
        Search
    </div>
</div>
