<div class="ui icon message">
    <i class="blue collaborators icon"></i>
    <div class="content">
        <div class="ui grid">
            <div class="eight wide column">
                <p>Your are working in Collection {{collectionName}}</p>
            </div>
            <div class="right aligned eight wide column">

              {{#link-to 'collections' class="ui large button"}}
                  <i class="edit icon"></i>
                  Change Collection
              {{/link-to}}
            </div>
        </div>
    </div>
</div>
